.welcome{
    padding: 30px;
    text-align: center;
}
.form{
    padding: 60px;
    height: 50%;
    border-radius: 15px;
    border: 5px solid;
    border-color: #154360;
}
.formulario{
    padding: 2% 25% 5% 25%;
    text-align: left;
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 2px solid #154360; /* Gray border */
    border-radius: 6px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
.btn{
    color: black;
    padding: 15px 40px;
    border: 2px solid #154360;
    cursor: pointer;
    width: 30%;
    /*opacity: 0.9;*/
    border-radius: 15px;
}
.danger{
    background-color: #B71D00;
}
#encabezado{
    display:inline-block;
    justify-content: center;
}

h1,h2,h3,h4,h5{
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #154360;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #2F92E7;
}

.active {
    background-color: #2F92E7;
    font-family: 'Roboto', sans-serif;
}

.p1{
    font-family: 'Roboto', sans-serif;
}

html{
    background-color: #CCD1D1;
}
